<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Personal Style-->
    <link rel="stylesheet" href="../static/style.css">
    
    <title>Tones</title>
  </head>
  <body>
    <div class="container-fullwidth" id="navbarc">
        <!-- navbar-light bg-light-md -->
        <nav class="navbar navbar-expand-md" id="mynav">
            <a href="/" class=navbar-brand>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/page_1">Sentiment Analysis</a>
                            <a class="dropdown-item" href="/page_2">Tones</a>
                            <a class="dropdown-item" href="/page_3">Team<a>
                        </div>
                    </div></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="row bigcon">
        
        <div class="container col-sm-12 col-lg-8" id="summary">
            <div class="inner col-sm-12">
                <h1>Twitter Tonal Summary<h1>
                <hr>
            </div>
            
            
                </head>
                <body>
               
            <ul>
                <script>function anger() {document.getElementById("anger").innerHTML = "&#129324;  Anger is evoked due to injustice, conflict, humiliation, negligence, or betrayal. If anger is active, the individual attacks the target, verbally or physically. If anger is passive, the person silently sulks and feels tension and hostility. (An emotional tone.)";}</script>
                <script>function fear() {document.getElementById("fear").innerHTML = "&#128552;  Fear is a response to impending danger. It is a survival mechanism that is triggered as a reaction to some negative stimulus. Fear can be a mild caution or an extreme phobia. (An emotional tone.)";}</script>
                <script>function joy() {document.getElementById("joy").innerHTML = "&#128522; Joy (or happiness) has shades of enjoyment, satisfaction, and pleasure. Joy brings a sense of well-being, inner peace, love, safety, and contentment. (An emotional tone.)";}</script>
                <script>function sadness() {document.getElementById("sadness").innerHTML = "&#128546; Sadness indicates a feeling of loss and disadvantage. When a person is quiet, less energetic, and withdrawn, it can be inferred that they feel sadness. (An emotional tone.)";}</script>
                <script>function analytical() {document.getElementById("analytical").innerHTML = "&#129488; An analytical tone indicates a person's reasoning and analytical attitude about things. An analytical person might be perceived as intellectual, rational, systematic, emotionless, or impersonal. (A language tone.)";}</script>
                <script>function confident() {document.getElementById("confident").innerHTML = "&#128077; A confident tone indicates a person's degree of certainty. A confident person might be perceived as assured, collected, hopeful, or egotistical. (A language tone.)";}</script>
                <script>function tentative() {document.getElementById("tentative").innerHTML = "&#129300; A tentative tone indicates a person's degree of inhibition. A tentative person might be perceived as questionable, doubtful, or debatable. (A language tone.)";}</script>
                
            

                <div class="container">
                    <div class="row">
                        
                      <div class="col-lg-3"><p3 id="anger" onclick="anger()" >&#129324;</p3></div>

                      
                     <div class="col-lg-3"><p3 id="fear" onclick="fear()">&#128552;</p3></div>

                        
                      
                      <div class="col-lg-3"><p3 id="joy" onclick="joy()">&#128522;</p3></div>

                        
                      
                      <div class="col-lg-3"><p3 id="sadness" onclick="sadness()">&#128546;</p3></div>
        
                        
                      
                      <div class="col-lg-4"><p3 id="analytical" onclick="analytical()">&#129488;</p3></div>

                        
                      
                      <div class="col-lg-4"><p3 id="confident" onclick="confident()">&#128077;</p3></div>

                        
                      
                      <div class="col-lg-4"><p3 id="tentative" onclick="tentative()">&#129300;</p3></div>

                        
                    </div>
                  </div>
                <hr>
                  <div>
                    <h2>United States Tone Timeline</h2>
                    <h2>(key dates)</h2>
                    <div class='tableauPlaceholder' id='viz1606668780761' style='position: relative'><noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;S7&#47;S7K9T6QHT&#47;1_rss.png' 
                    style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' 
                    value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                    <param name='path' value='shared&#47;S7K9T6QHT' /> <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;S7&#47;S7K9T6QHT&#47;1.png' /> 
                    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /><param name='language' value='en' />
                    <param name='filter' value='publish=yes' /></object></div>                
                    <script type='text/javascript'> var divElement = document.getElementById('viz1606668780761'); var vizElement = divElement.getElementsByTagName('object')[0];                    
                    vizElement.style.width='1016px';vizElement.style.height='591px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                    vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>
                </div>
                
                
                
                
                
                
                
                
                <!--<li>Anger: &#129324;</li>
                    <p2>Anger is evoked due to injustice, conflict, humiliation, negligence, or betrayal. If anger is active, the individual attacks the target, verbally or physically. If anger is passive, the person silently sulks and feels tension and hostility. (An emotional tone.)</p2>
                <hr>
                <li >Fear: &#128552;</li>
                    <p2>Fear is a response to impending danger. It is a survival mechanism that is triggered as a reaction to some negative stimulus. Fear can be a mild caution or an extreme phobia. (An emotional tone.)</p2>
                <hr>
                <li>Joy: &#128522;</li>
                    <p2>Joy (or happiness) has shades of enjoyment, satisfaction, and pleasure. Joy brings a sense of well-being, inner peace, love, safety, and contentment. (An emotional tone.)</p2>
                <hr>
                <li>Sadness: &#128546; </li>
                    <p2>Sadness indicates a feeling of loss and disadvantage. When a person is quiet, less energetic, and withdrawn, it can be inferred that they feel sadness. (An emotional tone.)</p2>
                <hr>
                <li>Analytical:&#129488;</li>
                     <p2>An analytical tone indicates a person's reasoning and analytical attitude about things. An analytical person might be perceived as intellectual, rational, systematic, emotionless, or impersonal. (A language tone.)</p2>
                <hr>
                <li>Confident: &#128077; </li>
                    <p2>A confident tone indicates a person's degree of certainty. A confident person might be perceived as assured, collected, hopeful, or egotistical. (A language tone.)</p2>
                <hr>
                <li>Tentative: &#129300; </li>
                   <p2> A tentative tone indicates a person's degree of inhibition. A tentative person might be perceived as questionable, doubtful, or debatable. (A language tone.)</p2>
                <hr> -->
            </ul>
            <hr>
            <div>
                <h2>Tone Breakdown</h2>
                <div class='tableauPlaceholder' id='viz1606629565992' style='position: relative'><noscript>
                <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4N&#47;4N4T258K3&#47;1_rss.png' style='border: none' /></a></noscript>
                <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;4N4T258K3' /> <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4N&#47;4N4T258K3&#47;1.png' /> 
                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>  
                <script type='text/javascript'> var divElement = document.getElementById('viz1606629565992'); var vizElement = divElement.getElementsByTagName('object')[0];                   
                 vizElement.style.width='1016px';vizElement.style.height='991px'; var scriptElement = document.createElement('script'); 
                 scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>
            <p>Surprisingly, Joy was the most prominant emotion expressed in the data set. There was a big spike in COVID tweets expressing Joy in the month of May.
                After further investigation, the majority of those tweets were found to be coming from Manhattan, NY. This is ultimately correlated with New York easing up on pandemic related restrictions that month.   </p>
            </div>
        </div>

        
    </div>
    
    
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>