  
<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <div class="container-fullwidth" id="navbarc">
        
        <nav class="navbar navbar-expand-md" id="mynav">
            <a href="/" class=navbar-brand>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/page_1">Sentiment Analysis</a>
                            <a class="dropdown-item" href="/page_2">Tones</a>
                            <a class="dropdown-item" href="/page_3">Team<a>
                        </div>
                    </div></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="row bigcon">
        
        <div class="container col-sm-12 col-lg-8">
            <div class="inner col-sm-12">
                <h1>Twitter Sentiment Analysis</h1>
                <hr>
                    <p>Sentiment: a view of or attitude toward a situation or event (positive or negative)</p>
                    <p>Polarity: refers to identifying sentiment orientation (positive, neutral, and negative) </p>
                    <p>Subjectivity: quality of being based on or influenced by personal feelings, tastes, or opinions</p>
            </div>
            <div>
                <div class='tableauPlaceholder' id='viz1606629980900' style='position: relative'><noscript>
                <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ge&#47;GeoSentimentData&#47;TwitterGeoSentimentStory&#47;1_rss.png' 
                style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> <param name='path' value='views&#47;GeoSentimentData&#47;TwitterGeoSentimentStory?:language=en&amp;:embed=y&amp;:display_count=y' /> 
                <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ge&#47;GeoSentimentData&#47;TwitterGeoSentimentStory&#47;1.png' /> 
                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                
                <script type='text/javascript'> var divElement = document.getElementById('viz1606629980900'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width='1016px';vizElement.style.height='991px';                    
                var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>  
            </div>
            <hr>
            <div>
                <div class='tableauPlaceholder' id='viz1606663453830' style='position: relative'><noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;K5&#47;K5QYF4SN5&#47;1_rss.png' 
                        style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' 
                        value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' 
                        value='shared&#47;K5QYF4SN5' /> <param name='toolbar' value='yes' /><param name='static_image' 
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;K5&#47;K5QYF4SN5&#47;1.png' /> 
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                
                        <script type='text/javascript'> var divElement = document.getElementById('viz1606663453830');                    
                        var vizElement = divElement.getElementsByTagName('object')[0];  vizElement.style.width='1016px';vizElement.style.height='991px';                    
                        var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                        vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>
            </div>
        </div>   
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>