
.navbar {
  background-color: lightskyblue
}

.navbar .navbar-brand,
.navbar.navbar-text {
  color:black
}
.navbar .navbar-nav .nav-link {
  color:darkblue
}
.navbar.nav-item.active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
  color: #ffffff;
}

p {
  font-size: 0.85rem;
  text-indent: 50px;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

figcaption {
  font-size: 18pt;
}

.column {
  float: left;
  width: 50%;
}
.fixpixel img{
  height: 525px;
  width: 1720px;
  margin-left: 0px;
  margin-right: 0px;
   }

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 18pt;
}

ul {
  font-size: 12pt;
  text-align: center;
}
li {
  font-size: 10pt;
  font-weight: bold;

}
p2 {
  font-size: 10pt;
}
p4{
  font-size:12pt;
  text-indent: 50px
}

