<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript"
    src="https://public.tableau.com/javascripts/api/tableau-2.min.js"> 
</script>
<nav class="navbar navbar-expand-md" id="mynav">
  <a href="../index.html" class=navbar-brand>Home</a>
</nav>

<script>
function toggle() {
  var x1 = document.getElementById("dashboard1");
  var x2 = document.getElementById("dashboard2");
  var bl = document.getElementById("button1");

  if (x1.style.display === "none") {
    x1.style.display = "block";
    x2.style.display = "none";
    bl.firstChild.data = "To Data B";
  } else {
    x1.style.display = "none";
    x2.style.display = "block";
    bl.firstChild.data = "To Data A";
  }
}

function initialize() {


var containerDiv1 = document.getElementById("dashboard1"),
            url1 = "https://public.tableau.com/views/liveintegration1/Dashboard1",
            options1 = {
                hideTabs: true,
                onFirstInteractive: function () {
                    console.log("Run this code when the viz has finished loading.");
                }
            };

        var viz1 = new tableau.Viz(containerDiv1, url1, options1);
        // Create a viz object and embed it in the container div.


var containerDiv2 = document.getElementById("dashboard2"),
            url2 ="https://public.tableau.com/views/LearnEmbeddedAnalytics/SalesOverviewDashboard",
            options2 = {
                hideTabs: true,
                onFirstInteractive: function () {
                    console.log("Run this code when the viz has finished loading.");
                }
            };

        var viz2 = new tableau.Viz(containerDiv2, url2, options2);
}

</script>

<style>
#dashboard1 {
  border: 1px solid green;
  width:800px; 
  height:700px;
  width: 100%;
  margin-top: 20px;
}
#dashboard2 {
  border: 1px solid blue;
  width:800px; 
  height:700px;
  width: 100%;
  margin-top: 20px;
}
</style>
</head>
<body onload="initialize()">

<button id="button1" onclick="toggle()">To Data B</button>

<div id="dashboard1" style="width:800px; height:700px;"></div>

<div id="dashboard2" style="width:800px; height:700px;"></div>


</body>
</html>